{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "react-transform",
      {
        "transforms": [
          {
            "transform": "livereactload/babel-transform",
            "imports": ["react"]
          },
          {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }
        ]
      }
    ]
  ]
}
